body {
    margin: 0 auto;
}

.page {
    color: white;
}

button {
    background-color: #c53b42;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1c142c;
    justify-content: space-around;
    padding: 2rem;
}

.page-links {
    font-size: small;
    display: flex;
    justify-content: space-around;
}

.page-links>p {
    margin-left: 7px;
    margin-right: 7px;
}

.hero {
    display: flex;
    background-color: #1c142c;
    justify-content: space-around;

}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.welcome-im {
    background-color: #4e1a2e;
    width: 100px;
    padding: 7px;
}

img {
    width: 300px;
    margin: 0 auto;
}

.experience {
    display: flex;
    justify-content: space-around;
    background-color: #292243;
    padding: 20px 0px;
}

.experience>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 1px;
    border-color: red;
    border-style: dotted;
    padding: 0px 20px;
}


.portfolio-showcase {
    display: flex;
    align-items: center;
    background-color: #1c142c;
    flex-direction: column;
}

.portfolio-words {
    display: flex;
    flex-direction: column;
}

.port-intro{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.port-prev{
    display: flex;
}

.port-prev>img{
    margin: 10px;
}

.portfolio-button {
    max-height: 30px;
    margin-bottom: 1rem ;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #292243;
}


.contact {
    display: flex;
    background-color: #1c142c;
}

.contact-me {
    display: flex;
    flex-direction: column;
}

.comment-me {
    display: flex;
    flex-direction: column;
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #292243;
}

.copy {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #292243;
}